@import 'quoteWidget.less';
@import 'trackParcelWidget.less';
@import 'flex.less';

@body-size: 18px;
@sub-header-size: 1.333rem;
@header-size: 1.777rem;

html {
	font-size: @body-size;
}

.sub-header{
	font-size: @sub-header-size; 
}
.header {
	font-size: @header-size;
}

.logo {
	height: 32px;
}

// Default styling for buttons on site
button {
	background-color: @woodys-orange;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}