@woodys-blue: #0069CC;
@woodys-blue-shade: darken(@woodys-blue, 10%);
@woodys-orange: #FF6600;
@woodys-orange-shade: darken(@woodys-orange, 20%);

.quote-widget-container {
	background-color: @woodys-blue;
	color: #fff;
	padding: 1rem;

	// Little hack to center the input elements in their container div
	display: grid;
	grid-template-areas: 
		'. tagline .'
		'. quoteWidget .';
	grid-row-gap: 1rem;

	.tagline {
		grid-area: tagline;
	}
	.quote-widget {
		grid-area: quoteWidget;
	}
}

// TODO: clean this up?
.quote-widget {
	display: grid;
	grid-template-areas: 
		'postcodeAndWeightInputContainer'
		'weightAndSizeInputContainer'
		'quoteButtonContainer';
	grid-row-gap: 1rem;

	.postcode-and-weight-input-container { 
		grid-area: postcodeAndWeightInputContainer; 
	}
	.weight-and-size-input-container { 
		grid-area: weightAndSizeInputContainer; 
	}
	.quote-button-container {
		grid-area: quoteButtonContainer;

		.flex-row();
		justify-content: center;
	}

	border: 1px solid @woodys-blue-shade;
	border-radius: 5px;
	padding: 1rem 0.5rem;

	.weight-and-size-input-container, .postcode-and-weight-input-container {
		.flex-row();
		flex-basis: flex-start;
		padding-bottom: 1rem;

		// Give all input + label blocks uniform width so they form neater grid
		label {
			width: 12rem;
		}
	} 

	.weight-and-size-input, .postcode-input {
		width: 5em;
	}

	.weight-and-size-input, .postcode-input {
		margin: 0 0.75em;
	}

	.quote-button {
		background-color: @woodys-orange;
		border: none;
		border-radius: 5%;
		color: #fff;
		.sub-header();

		cursor: pointer;
		padding: 0.5rem 1rem;
	}

	// TODO: clean this up
	.input-address-autocomplete {
		position: relative;

		// Slightly awkward way of ensuring that absolutely
		// positioned suggestion list appears underneath input
		.suggestions-list-container {
			position: relative;
		}

		.suggestion-list {
			// Display under input field
			position: absolute;

			margin: 0;
			padding: 0;

			// Display above other elements
			z-index: 1;

			background-color: #fff;
			color: #000;

			border: 2px solid #ccc;
			box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);

			// Restrict max-size of suggestion list
			// Display vertical scroll bars
			overflow-y: scroll;
		}

		.suggestion-item {
			cursor: pointer;
			margin: 0;
			padding: 0.5rem;

			list-style-type: none;

			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
}