.quote-widget {
  background-color: #0069CC;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.quote-widget > * {
  margin: auto;
}
.quote-widget .weight-and-size-inputs {
  display: flex;
  flex-direction: row;
}
.quote-widget .weight-and-size-inputs > * {
  margin: auto;
}
.quote-widget .quote-button {
  background-color: #FF6600;
  border: none;
  border-radius: 5%;
  color: #fff;
  font-size: 1.333rem;
}
.quote-widget .input-address-autocomplete {
  position: relative;
}
.quote-widget .input-address-autocomplete .suggestions-list-container {
  position: relative;
}
.quote-widget .input-address-autocomplete .suggestion-list {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #fff;
  color: #000;
  border: 2px solid #ccc;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.quote-widget .input-address-autocomplete .suggestion-item {
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
}
.quote-widget .input-address-autocomplete .suggestion-item:hover {
  background-color: #f0f0f0;
}
.flex-base {
  display: flex;
}
.flex-base > * {
  margin: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row > * {
  margin: auto;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column > * {
  margin: auto;
}
html {
  font-size: 18px;
}
.sub-header {
  font-size: 1.333rem;
}
.header {
  font-size: 1.777rem;
}
.logo {
  height: 32px;
}
